.p1{
    display:flex;
    flex-direction:column;
    gap:3%;
    justify-content:center;
    align-items:center;
    border-color: black;
    margin-left:40%;
    margin-right:40%;
    height:100%;
}
.p1 div {
    width: 100%; 
}
.p1 img{
width:100%;

}
.p1 input{
    width:100%;
    background-color: rgb(77, 77, 234);
    color: white;
    padding: 5% 10%;
    font-size: large;
    cursor: pointer;    
}
.p2{
    display:flex;
    flex-direction:row;
    
}
.p2 input:hover{
    cursor:pointer;
    background-color:rgb(148, 148, 215);
}